mixin input(label, type, placeholder)
  if inputType == 'date'
    .input
      label.label-cta.input__label-cta= label
        input(
          class='text-field text-field_text-style_uppercase input_text-opacity_light'
          type= type
          placeholder= placeholder
        )
  else
    .input
      label.label-cta.input__label-cta= label
        input(
          class='text-field'
          type= type
          placeholder= placeholder
        )

mixin dropdown(label, text)
  .dropdown
    p.label-cta.dropdown__label-cta= label
    .text-field
      p.text-content.input__text-content= text
      span.dropdown-marker expand_more

