mixin input(label, inputClass, type, placeholder)
  .input
    label.label-cta.input__label-cta= label
      input(
        class= inputClass
        type= type
        placeholder= placeholder
      )

mixin dropdown(dropdownLabel, dropdownClass, dropsownText)
  .dropdown
    p.label-cta.dropdown__label-cta= dropdownLabel
    div(
        class= dropdownClass
        p.text-content.input__text-content= dropsownText
        span.dropdown-marker expand_more
    )


