.dropdown
  p.label-cta.input__label-cta dropdown
  .input__field
    p.text-content.input__text-content This is pretty awesome
    span.dropdown-marker expand_more

.dropdown.data-dropdown-wrapper
  .input
    label(
      class='label-cta input__label-cta'
      for='input-field-4'
    ) date Dropdown
    .input__field.input__field_width_date-dropdown
      input.input_reset.input__field_date-text_uppercase(
        id='input-field-4'
        type='text'
        placeholder='дд.мм.гггг'
      )
      span.dropdown-marker expand_more
