form.enter-form
  p.enter-form__title Войти
  div.enter-form__wrapper
    input(
      class='enter-form__input'
      type='email'
      placeholder='Email'
    )
    input(
      class='enters-form__input'
      type='password'
      placeholder='Пароль'
    )

  button(
    class='enter-form__button'
    type='submit'
  ) Войти

  p.enter-form__text Нет аккаунта на Toxin?
  button(
    class='button'
  ) Создать

